<div class="header shadow">
    <h1>Editar Post</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ng-include src="'app/nav.html'"></ng-include>
            <form name="postForm">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <td>{{traerpost.id}}</td>

                </tr>
                <tr>
                    <th>Título</th>
                    <td><input type="text" class="form-control"  ng-value="traerpost.titulo" ng-model="titulo" name="titulo"
                        ng-class="{ 'is-invalid' : postForm.titulo.$invalid && !postForm.titulo.$pristine }"
                        ng-pattern="/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/" id="validationr01"
                         ng-required="true" ></td>
                        
                        <div class="invalid-feedback" ng-show="postForm.titulo.$error.required">
                            El titulo no puede estar vacio.
                        </div>
                        <div class="invalid-feedback" ng-show="postForm.titulo.$error.pattern">
                            El titulo no puede contener numeros.
                        </div>

                </tr>
                <tr>
                    <th>Cuerpo</th>
                    <td><textarea class="form-control" ng-model="cuerpo" ng-value="traerpost.cuerpo" name="cuerpo"
                        ng-class="{ 'is-invalid' : postForm.cuerpo.$invalid && !postForm.cuerpo.$pristine }"
                        rows="5" maxlength="255" id="validationr02" ng-required="true" >
                        </textarea></td>
                </tr>
                <tr>
                    <th>Etiquetas</th>
                    <td><input type="text" class="form-control" ng-value="traerpost.etiquetas" ng-model="etiquetas" name="etiquetas"
                        ng-class="{ 'is-invalid' : postForm.etiquetas.$invalid && !postForm.etiquetas.$pristine }"
                        ng-pattern="/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/" id="validationr03"
                         ng-required="true" ></td>
                </tr>
            </table>
            <div class="float-right">
                <div class="my-3" ng-if="!hecho">¿Estas seguro?</div>
                <div>
                    <button type="button" class="btn btn-primary" ng-click="update()" ng-if="!hecho">Guardar</button>
                    <button type="button" class="btn btn-outline-warning" ng-click="reset()" ng-if="!hecho">Descartar</button>
                    <button type="button" class="btn btn-outline-dark" ng-click="volver()">Volver</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>