<div class="header shadow">
  <h1>Bienvenido a mi SuperBlog!</h1>
</div>
<div class="container">
<div class="row">
  <div class="col-md-12">
      <ng-include src="'app/navegador.html'"></ng-include>
    
      <section id="main-noticia" class="col-left">
        <section  ng-repeat="post in pagina">

            <div class="titulo">
                <h1 class="title-noticia-1">{{post.titulo}}</h1>
            </div>
            <div class="cuerpo" >
                <p>{{post.cuerpo}}</p>
            </div>
            <div class="post-meta">
                <span>{{post.etiquetas}}</span>
            </div>

        </section>
    </section>

    <nav aria-label="Paginación">
      <ul class="pagination">
          <li class="page-item" ng-class="{'active':(paginaActual==p), 'disabled' :p=='...'}"
              ng-repeat="p in botonera track by $index">
              <a class="page-link" href="#!/homeTemplate/10/{{p}}">{{p}}</a>
          </li>
      </ul>
  </nav>

  </div>
</div>
</div>