<div class="header shadow">
    <h1>Registros</h1>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="#!/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#!/plist">Registros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
    </div>

    <form name="myForm">
        <label for="singleSelect"> Filtro: </label><br>
        <select  class="form-control" ng-model="form.type" ng-options="option.value as option.name for option in typeOptions">
        </select><br>
    </form>    

    <div class="tab">
        <table class="table table-striped">
            <tr ng-repeat="post in posts">
              <th>ID: {{post.id}}</th>
              <td>Titulo: {{post.titulo}}</td>
              <td>Cuerpo: {{post.cuerpo}}</td>
              <td>Etiquetas: {{post.etiquetas}}</td>
            </tr>
          </table>
    </div>
    <div class="container">
        <div class="row" data-ng-show="posts.length > 0">
            <div class="col-span-12">
                <pagination ng-model="paginaActual" total-items="numOfPages()" max-size="maxSize" boundary-links="true">
                  </pagination>

            </div>
          </div>
      </div>


  </div>
</div>